 /* Usando los mismos colores de la foto que puso en la pagina*/
.verde_oscuro{
  background-color: #6fa843;
}
.verde_normal{
  background-color: #96c144;
}
.verde_suave{
  background-color: #cde0aa;
}
